<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>
</head>

<body>
    <nav class="navbar-app fixed-top col-lg-2 pt-lg-3 navbar-expand-lg navbar-light bg-light">
        <img class=" navbar-brand" src="../static/images/simertel_report.png" alt="" width="170" height="auto">
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="list-unstyled">
                <li class="nav-item mt-3 ml-lg-2 "><a href="home.html"><i class="fa fa-home fa-fw mr-3"></i>Home</a>
                </li>
                <li class="nav-item mt-3 ml-lg-2"><a href="sources.html"><i
                            class="fa fa-database fa-fw mr-3"></i>Sources</a></li>
                <li class="nav-item mt-3 ml-lg-2"><a href="#"><i class="fa fa-cogs fa-fw mr-3"></i>Automation</a></li>
                <li class="nav-item mt-3 ml-lg-2"><a href="#"><i class="fa fa-share-alt fa-fw mr-3"></i>Algorithme</a>
                </li>
                <li class="nav-item mt-3 ml-lg-2"><a href="#"><i class="fa fa-bar-chart fa-fw mr-3"></i>Report</a></li>
                <li class="nav-item mt-3 ml-lg-2"><a href="#"><i class="fa fa-user fa-fw mr-3"></i>Profil</a></li>
                <li class="nav-item mt-3 ml-lg-2"><a href="index.html"><i class="fa fa-sign-out fa-fw mr-3"></i>Exit</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-lg-10 ml-lg-auto">
        <div class="mainscreen mt-lg-4">
            <div class="col-12">
                <h3><i class="fa fa-bar-chart mr-3"></i>Bienvenue dans l'appication Simertel Report outil d'analyse de données</h3>
                <div class="row">
                    <div class="col-sm-6 mt-3">
                        <div class="card h-100">
                            <div class="card-body bg-light">
                                <h5 class="card-title text-danger">Business Intelligence</h5>
                                <p class="card-text">Simplifiez la création des rapports et des tableaux de bord et évitez
                                    les données obsolètes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <div class="card h-100">
                            <div class="card-body bg-light">
                                <h5 class="card-title text-danger">Analytique embarquée</h5>
                                <p class="card-text">Exploitez la valeur de vos données, intégrez les données, visualisations et informations pour optimiser l'efficacité et la prise de décisions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <div class="card h-100">
                            <div class="card-body bg-light">
                                <h5 class="card-title text-danger">Automation</h5>
                                <p class="card-text">Planifiez et automatisez la distribution des rapports, les informations, les ensembles de données et les résultats. Envoyez des alertes et des mises à jour en cas de changement.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <div class="card h-100">
                            <div class="card-body bg-light">
                                <h5 class="card-title text-danger">Workflow</h5>
                                <p class="card-text">Le workflow peut être lancé automatiquement lors de changement de données ou en se basant sur des conditions personnalisées.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>